*{
    background-color: peachpuff;
     font-family: Arial, sans-serif;
     text-align: center;
     border: 2px solid #333;
     
}
#from{
    font-size: 20px;
    color: #333;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
     text-align: center;
    background-color: #f0f0f0;
}
#Name{
    font-size: 10px;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    background-color: #f0f0f0;
}
#Email{
    font-size: 10px;
     text-align: center;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    
}
#Password{
    font-size: 10px;
    color: #333;
     text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}
#ConfirmPassword{
    font-size: 10px;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}
#Submit{
    font-size: 10px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #333;
    
}




