*{
    background-color: peachpuff;
}
#Name{
    font-size: 10px;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}
#Email{
    font-size: 10px;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    
}
#Password{
    font-size: 10px;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}
#ConfirmPassword{
    font-size: 10px;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}
#Submit{
    font-size: 10px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #333;
    
}


