*{
    padding: 0;
    margin: 0;
}
.list{
    width: 200px;
    padding: 20px;
    margin: 20px ;
    text-align: left;
    color: red;
    display: flex;
}
.h2{
    text-align: left;
    padding: 10px;
    color: rgb(143, 57, 57);
    
}